{{ define "user/login" }}
    <form action="#" method="POST" style="width:25%;">
      <fieldset>
        <legend>Login:</legend>
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Login">
      </fieldset>
    </form>
{{ end }}